{% extends 'layout/appadmin.html' %}

<!-- Inicio bloque body -->
{% block body %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" method="POST" action="{{url_for('product_route.update', id = product.id)}}" enctype="multipart/form-data">
          
            <div class="col-md-12">
              <div class="p-4">
                <div class="input-group mb-3">
                  <label for="">Nombre del producto</label>
                  <input type="text" class="form-control" value="{{product.product}}" name="product" required>
                </div>
                <div class="input-group mb-3">
                  <label for="">Precio del producto</label>
                  <input type="number" required value="{{product.price}}" name="price" min="0" step=".01" class="form-control"
                 required>
                </div>
                <div class="input-group mb-3">
                  <label for="">Descripción del producto</label>
                  <input type="text" class="form-control" value="{{product.description}}" name="description" required>
                </div>
                <div class="image">
                  <img id="preview" class="profile-user-img img-fluid"
                  src="{{ url_for('static', filename='img/' + product.img_url) }}"
                  alt="profile">
                  <input type="file" name="file" id="file" accept="image/*"/>
                </div>
                
                <div class="valid-feedback">
                  Los datos son requeridos.
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Registrar producto</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
  function init() {
        var inputFile = document.getElementById('file');
        inputFile.addEventListener('change', mostrarImagen, false);
    }

    function mostrarImagen(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = document.getElementById('preview');
            img.src = event.target.result;
        }
        reader.readAsDataURL(file);
    }

    window.addEventListener('load', init, false);
</script>
{% endblock %}
<!-- Fin bloque scripts -->