{% extends 'layout/app.html' %}

<!-- Inicio bloque body -->
{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div style="font-size: large;color: brown; background: wheat; margin-top: 100px;" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor%}
    {% endif %}
{% endwith%}
<!-- home section starts  -->
<section class="home" id="home">
    

    <div class="content">
        <h3>Productos de <span>calidad</span> al alcance de su bolsillo</h3>
        <p>Desde este sitio puedes realizar tu pedido desde cualquier parte de la ciudad.</p>
        <a href="#products" class="btn">Nuestros productos</a>
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> Nuestros <span>Servicios</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="{{url_for('static',filename='image/feature-img-1.png')}}" alt="">
            <h3>Productos de calidad</h3>
            <p>Ofrecemos alimentos de primera necesidad canasta familiar completa.</p>
            <a href="#" class="btn">Leer más</a>
        </div>

        <div class="box">
            <img src="{{url_for('static',filename='image/feature-img-2.png')}}" alt="">
            <h3>Entrega gratis</h3>
            <p>Realiza tu pedido desde este sitio web facil y rapido sin costo alguno.</p>
            <a href="#" class="btn">Leer más</a>
        </div>

        <div class="box">
            <img src="{{url_for('static',filename='image/feature-img-3.png')}}" alt="">
            <h3>Al mejor precio</h3>
            <p>El costo de nuestros productos son accesibles para todas las familias, es mas puedes pagar en unas cuantas cuotas.</p>
            <a href="#" class="btn">Leer más</a>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> nuestros <span>productos</span> </h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">
            {% for data in producto  %}
            <div class="swiper-slide box">
                <img src="{{ url_for('static', filename='img/' + data.img_url) }}" alt="">
                <h3>{{data.product}}</h3>
                <div class="price"> Bs. {{data.price}}/- </div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <button onclick="btnAgregarCarrito('{{data.id}}')" class="btn">Añadir al carrito</button>
            </div>
            {% endfor %}
        </div>

    </div>

</section>

<!-- products section ends -->

<!-- categories section starts  -->

<section class="categories" id="categories">
    
    <h1 class="heading"> product <span>categories</span> </h1>

    <div class="box-container">
        {% for data in categories  %}
        <div class="box">
            
            <h3>{{data.category}}</h3>
            <p>hasta 50% de descuento</p>
            <a href="#" class="btn">Ver mas</a>
        </div>
        {% endfor %}

        

    </div>

</section>

<!-- categories section ends -->




{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>
    function btnAgregarCarrito(id){
        $.ajax({
          url: "/client/micarrito",
          type: 'POST',
          data: {
            //'_token': $('meta[name="csrf-token"]').attr('content'),
            'id': id,
          },
          success: function (data) {
            /* var json = $.parseJSON(
                data); */ // create an object with the key of the array
            console.log('Todo salió bien');
            //window.location.reload(true);
  
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert('error');
          }
        });
      };
    $(document).ready(function () {
      
  
    });
  </script>
{% endblock %}
<!-- Fin bloque scripts -->